<div class="header">
    <div class="heading">
      <h1 class="fs-3">{{title}}</h1>
    </div>
    <div class="nav-items">
      <ul class="sub-list">
        <a routerLink="/issuebook"><li class="sub-list-items">IssueBooks</li></a>
        <a routerLink="/returnedbooks"><li class="sub-list-items">ReturnedBooks</li></a>
        <a routerLink="/issuedbooks"><li class="sub-list-items">IssuedBooks</li></a>
      </ul>
    </div>
    <div class="searchbox bg-light">
      <i class="fa-solid fa-search"></i>
      <div class="box">
        <input
          class="bg-light"
          type="text"
          name=""
          id=""
          placeholder="Search books , authors..."
        />
      </div>
    </div>
    <div class="icons">
      <div class="cart">
        <a routerLink="cart"><i class="fa-solid fa-book-bookmark"></i></a>
        <p>cart</p>
      </div>
      <div class="profile">
        <a routerLink="/profile"><i class="fa-regular fa-user"></i></a>
        <p>Me</p>
      </div>
    </div>
  </div>