.main-container
{
    padding: 0;
    top: 0;
    margin-top: -38px;
    margin-left: -35px;
    margin-right: -35px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0.063rem 0 1.25rem 0 rgb(218, 216, 216);
}

h1
{
    padding: 0;
    margin-top: 12px;
    margin-left: 12px;
}
.heading-wrapper
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 0;
}

.profile-image
{
    width: 40px;
    height: 40px;
    border-radius: 90px;
    margin-top: 5px;
}

.searchbox
{
    border-radius: 15px;
}
.searchbox input
{
    width: 550px;
    outline: none;
    border: 0;
    background-color: transparent;
}

.searchbox i
{
    margin: 15px;
    font-size: 18px;
}

@media(max-width:790px)
{
    .searchbox
    {
        display: none;
    }
}