<div class="main-container">
    <div class="heading-wrapper">
        <div class="heading">
            <h1 class="fs-5">Your Account</h1>
        </div>
        <div class="searchbox bg-light">
            <i class="fa-solid fa-search"></i>
            <input class="searchbox-input" type="text" name="" id="" placeholder="Search">
        </div>
        <div class="profile-image-holder">
            <img class="profile-image" src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?cs=srgb&dl=pexels-pixabay-220453.jpg&fm=jpg" alt="">
        </div>
    </div>
</div>
