<div class="main-container">
<div class="container">
    <div class="center" id="box1">
      <div class="head" id="head">
        <h1>User Login</h1>
      </div>
      <form action="login" method="post">
        <div class="txt_field">
          <input type="email" id="email" name="email" required />
          <span></span>
          <label for="email">Email:</label>
        </div>
        <div class="txt_field">
          <input type="password" id="password" name="password" required />
          <span></span>
          <label for="password">Password:</label>
        </div>
        
        <input class="bg-primary" type="submit" value="Login" />
        <div class="back">
          <a href="#"><span class="text-primary">Not a user? signup</span></a>
          <br>
          <a href="#"><span class="text-primary">Forgot Password</span></a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="another-container">
  <app-authentication></app-authentication>
</div>
  
