<div class="main-container">
<div class="container">
    <div class="center" id="box1">
      <div class="head" id="head">
        <h1 class="loginhead">Login</h1>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="txt_field">
          <input type="text" id="UserName" name="userName"  [(ngModel)]="formData.username" required />
          <span></span>
          <label for="userName">User Name:</label>
        </div>
        <div class="txt_field">
          <input type="password" id="password" name="password"  [(ngModel)]="formData.password" required />
          <span></span>
          <label for="password">Password:</label>
        </div>
        
        <input class="bg-primary" type="submit" value="Login" />
        <div class="back">
          <a routerLink="/register"><span class="text-primary">Not a user? signup</span></a>
          <br>
          <a href="#"><span class="text-primary">Forgot Password</span></a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="another-container">
  <app-authentication></app-authentication>
</div>
  
