/* You can add global styles to this file, and also import other style files */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{

    position: relative;
     /* background: url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHx8MA%3D%3D"); */
}