
<div class="mainbox">
    <h1 class="text-center h3">
        Admin Login
    </h1>
<div class="container">
    <form #adminloginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">User Id</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="userId" [(ngModel)]="formData.userId">
          <div id="emailHelp" class="form-text"> Never share your User Id with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" [(ngModel)]="formData.password" placeholder="Must be 4-20 characters ">
        </div>
        <input type="submit" class="bg-primary submit-btn" value="Login">
      </form>
</div>

