

<div class="main-container" ngxUiLoaderBlurred (blur)="10">
  <div class="container">
    <div class="center" id="box1">
      <div class="head" id="head">
        <h1>User Registration</h1>
      </div>
      <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="txt_field">
          <input type="text" id="username" name="username" [(ngModel)]="formData.userName" required />
          <span></span>
          <label for="username">Username:</label>
        </div>
        <div class="txt_field">
          <input type="email" id="email" name="email" [(ngModel)]="formData.email" required />
          <span></span>
          <label for="email">Email:</label>
        </div>
        <div class="txt_field">
          <input type="password" id="password" name="password" [(ngModel)]="formData.password" required />
          <span></span>
          <label for="password">Password:</label>
        </div>
        <input class="bg-primary" type="submit" value="Register" />
  
        <div class="back">
          <a routerLink="/login"><span class="text-primary">Already a user? Login</span></a>
        </div>
      </form>
    </div>
  </div>

  <div class="another-container">
    <app-authentication></app-authentication>
  </div>

</div>



